{% extends 'base.html'%}
{% load static %}
{% block title %} Review Page {% endblock %}

{% block content %}

<div class="bg-image p-5 text-center shadow-1-strong rounded mb-xl text-black"
    style="background-image: url('');">
    <h1 class="display-4">Review Club</h1>
    <p class="lead">We are well-known experts in the world of golf with
    great reviews.</p>
    <hr class="my-4">
    <p>If you want to learn more about us, then just click the button below.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'add_review'%}" role="button">Add your review</a>
    </p>
</div>
{% endblock %}